<div class="container" ng-app="nsiCharlie"  >
    <ul class="nav nav-pills ">
        <li role="presentation" style="margin-top:20px;margin-right:58.25%">
            <img alt="Brand" src="/img/Logomakr.png" height="35px" width="250px">
        </li>
        <li role="presentation" style="margin-top:20px"><a>Home</a></li>
        <li role="presentation" class="dropdown" style="margin-top:20px">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                Welcome, user <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">Profile</a></li>
                <li><a href="#">User CVs</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </li>
    </ul>

    <br><br><br>
    <h2 style="color:#ff6a2b;text-align:center">Users' CVs</h2>
    <hr style="height: 30px;border-style: solid;border-color: #54abdd;border-width:1px 0 0 0;border-radius: 20px;">

    <form class="navbar-form navbar-left" role="search" style="margin-left:78.2%">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-link"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
    </form>
    <!-- Table -->
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody ng-if="users">
        <tr ng-repeat="user in users">
            <td style="line-height:50px">user.username</td>
            <td style="line-height:50px">CV Web Developer</td>
            <td style="line-height:50px"><button type="submit" class="btn btn-link">Check for approval</button></td>
            <td>
                <div class="c100 p25 small">
                    <span>25%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>
            </td>
        </tr>
        <!--
        <tr>
            <td style="line-height:50px">Malik Koljenovic</td>
            <td style="line-height:50px">CV Senior Software Developer</td>
            <td style="line-height:50px"><button type="submit" class="btn btn-link">Check for approval</button></td>
            <td>
                <div class="c100 p50 small">
                    <span>50%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="line-height:50px">Haris Semic</td>
            <td style="line-height:50px">CV Project Architect</td>
            <td style="line-height:50px"><button type="submit" class="btn btn-link">Check for approval</button></td>
            <td>
                <div class="c100 p95 small">
                    <span>95%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>
            </td>
        </tr>
        -->
        </tbody>
    </table>

    <nav aria-label="...">
        <ul class="pager">
            <li><a href="#">Previous</a></li>
            <li><a href="#">Next</a></li>
        </ul>
    </nav>

    <hr style="height: 30px;border-style: solid;border-color: #54abdd;border-width:0 0 1px 0;border-radius: 20px;">

</div>
