<!DOCTYPE html>
<html ng-app="loginApp" ng-controller = "LoginController">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nsi</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Header-Dark.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body><img class="img-responsive" src="assets/img/first.jpg">
    <div class="login-dark">
        <form>
            <h2 class="s" style = "text-algin:center; margin-left:50px; color:#b0cef4;" >Dobrodošli</h2>
            <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
            <div class="form-group">
                <input class="form-control colors" type="text" name="username" placeholder="Username"
                 ng-model="login.loginModel.Username" />
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password"
                 ng-model="login.loginModel.Password">
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit" ng-click="processForm()">Log In</button>
            </div><a href="#" class="forgot">Forgot your email or password?</a></form>
    </div>
    <script src="assets/js/jquery.min.js?q=123"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js?q=123"></script>
    <script src="js/angular.min.js?q=123"></script>
    <script src="js/angular-route.min.js?q=123"></script>
    <script src="app/loginApp.js?q=123"></script>
    <script src="app/Controllers/loginController.js?q=123"></script>
    <script src="cookies/angular-cookies.js?q=123"></script>
</body>

</html>
