<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:oracle:thin:@80.65.65.66:1521:etflab</property>
        <property name="connection.driver_class">oracle.jdbc.OracleDriver</property>
        <property name="connection.username">NSI03</property>
        <property name="connection.password">tTt03#</property>

        <mapping resource="mappings.xml"/>
        <mapping class="ba.unsa.etf.nsi.charlie.model.ComponentEntity"/>
        <mapping class="ba.unsa.etf.nsi.charlie.model.ComponentDraftEntity"/>
        <mapping class="ba.unsa.etf.nsi.charlie.model.ComponentTypeEntity"/>
        <mapping class="ba.unsa.etf.nsi.charlie.model.LogEntity"/>
        <mapping class="ba.unsa.etf.nsi.charlie.model.RoleEntity"/>
        <mapping class="ba.unsa.etf.nsi.charlie.model.UserInfoEntity"/>
        <mapping class="ba.unsa.etf.nsi.charlie.model.UserRoleEntity"/>
        <mapping class="ba.unsa.etf.nsi.charlie.model.UserEntity"/>


        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>